<template name="html_header">
<div class="page-styles">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">

    <!-- <link rel="stylesheet" href="/css/demos.css">
    <link rel="stylesheet" href="/css/live-chat.css">
    <link rel="stylesheet" href="/css/price.css"> -->

<!-- Start of 51Chat.net Livechat Script -->
<script type="text/javascript">
var color = '#1f8ceb';
var domain = document.location.hostname;
domain = domain?domain:'www.51chat.com';
(function(w, d, s, u) {
  w.liveChat = function(c) { w.liveChat._.push(c) }; w.liveChat._ = []; w.liveChat.url = u;w.liveChat.color = color;
  var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
  j.async = true; j.src = '//live.51chat.net/packages/rocketchat_livechat/assets/51chat.js';
  h.parentNode.insertBefore(j, h);
})(window, document, 'script', '//live.51chat.net/livechat?domain='+domain+'&color='+color);
</script>
<!-- End of 51Chat.net Livechat Script -->
</div>
</template>
